<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
</head>
<body>
    <h1>{{ agenda and 'Editar' or 'Novo' }} Agendamento</h1>
    <form method="post">
        <label for="nome_do_animal">Nome do Animal:</label>
        <input type="text" id="nome_do_animal" name="nome_do_animal" value="{{ agenda and agenda[1] or '' }}"><br>
        <label for="nome_do_tutor">Nome do Tutor:</label>
        <input type="text" id="nome_do_tutor" name="nome_do_tutor" value="{{ agenda and agenda[2] or '' }}"><br>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{ agenda and agenda[3] or '' }}"><br>
        <label for="hora">Hora:</label>
        <input type="time" id="hora" name="hora" value="{{ agenda and agenda[4] or '' }}"><br>
        <label for="sintomas">Sintomas:</label>
        <input type="text" id="sintomas" name="sintomas" value="{{ agenda and agenda[5] or '' }}"><br>
        <input type="submit" value="Salvar">
    </form>
    <a href="/">Voltar</a>
    
</body> 
</html>
