<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
</head>
<body>
    <div>
        <h1>Cadastro</h1>
        <form action="cadastrar" method="POST">
            <h2>Informações do Tutor:</h2>
            <label for="">Nome do tutor:</label>
            <input type="text" name="nome-tutor">

            <label for="">Telefone:</label>
            <input type="tel" name="telefone">

            <h2>Informações do Animal:</h2>
            <label for="">Nome do Animal</label>
            <input type="text" name="nome-animal">

            <label for="">Espécie:</label>
            <input type="text" name="especie">

            <label for="">Raça:</label>
            <input type="text" name="raca">

            <label for="">Peso:</label>
            <input type="text" name="peso">

            <button type="submit">Cadastrar-se</button>
        </form>
    </div>
</body>
</html>