<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <h1>Agendamentos</h1>
    <ul>
        {% for agenda in agendas %}
            <li>
                {{ agenda[1] }} - {{ agenda[2] }} - {{ agenda[3] }} - {{ agenda[4] }} - {{ agenda[5] }}
                <a href="/editar_agendamento/{{ agenda[0] }}">Editar</a>
                <a href="/cancelar_agendamento/{{ agenda[0] }}">Cancelar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/agendamento">Novo Agendamento</a>
</body>
</html>
